<div class="container">
  <header>
    <div class="jumbotron">
      <div class="row">
        <div class="col-8">
          <h1 class="display-4">Just-Ate V1</h1>
          <p class="text-md">
            Just-Ate allows an interactive experience devouring the food you
            add as a takeaway
          </p>
        </div>
        <div class="col-4 text-center align-self-center">
          <a class="btn btn-primary" href="#" role="button">Coming Soon: V2</a>
        </div>
      </div>
    </div>
  </header>

  <h2 class="text-center">Devour ALL the Food!</h2>

  <section class="my-4">
    <div class="row">
      </div>
      <div class="col-6 align-self-center">
        <form class="form-inline" action="/api/foods" method="POST">
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" id="foodOption" placeholder="Wigan Kebab" name="food" />
          </div>
          <button type="submit" class="btn btn-success mb-2">
            Add Option
          </button>
        </form>
      </div>
    </div>
  </section>

  <section>
 	<div class="col-md-6 text-center" class="task">
			<div class="row">
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-sizeaction="/api/foods:id" method="PUT">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="task">
			  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
  </section>
</div>